

body{


    color: salmon;
   
   
    font-family: 'Helvetica', sans-serif;
   
   
   outline: 1px solid green; 
  
   
   }
   
   
   
   
   
   
   
   li {
   
   
    color: #777;
   
   
   }
   
   
   
   
   
   
   
   h1, h2 {
   
   
    font-family: 'Righteous', cursive;
   
   
   }
   
   